<!DOCTYPE html>
<html lang="en">

<body>
{% include "_header.html" %}


<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:200px">



    <div class="w3-row w3-padding-64">

        <div class="w3-twothird w3-container">
            <h1 class="w3-text-teal">{{ Title }} </h1>
            <p> {{Text}}</p>
        </div>

        <div class="w3-third w3-container">
            <h3 class="w3-text-teal">Summary of Article </h3>
            <p> {{Summary}}</p>
        </div>

        <div class="w3-third w3-container">
        <p class=" w3-padding-large w3-padding-32 w3-center">KeyWords :
            {% for tag in Tags %}
          <a id ='{{tag}}' onclick="send_tag('{{tag}}')" href="" >#{{tag}}</a>
            {% endfor %}
        </p>
        </div>

        <div class="w3-third w3-container">
            <h4 class="w3-text-teal" >Ask a question to AI </h4>
            <form action="/article/{{url_name}}" method="post">
                {% csrf_token %}
                    <label for="qa"></label>
                <input type="text" id="qa" name="qa" placeholder="Write a question"><br>
                <input type="submit" value="Submit">
            </form>
        </div>


        <div class="w3-third w3-container">
            <h6 class="w3-text-teal" >The answer of AI </h6>
            <p>
                {{Answer}}
            </p>
        </div>

    </div>


<script>
  function send_tag(name) {
        var elementCreatedOne = document.getElementById(name);
        elementCreatedOne.setAttribute("href","/tags/"+name+"/1");
  }
  function send_title(name) {
        var elementCreatedOne = document.getElementById(name);
        elementCreatedOne.setAttribute("href","/article/"+name);
  }

</script>


<!-- END MAIN -->
</div>


</body>
</html>
